.exchange-confim {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
}
.exchange-confim__details {
  background-color: var(--bg-color);
  padding: 2rem 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.exchange-confim__total {
  margin-top: 3rem;
}

.exchange-confim__user,
.exchange-confim__phone,
.exchange-confim__id {
  width: 80%;
  background-color: var(--bg-content);
  margin: 0.1rem auto;
  padding: 1.2rem;
  text-align: start;
  font-weight: 700;
}

.exchange-confim__user {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 2rem;
}

.exchange-confim__id {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.exhange-confirm__form {
  padding: 1.2rem;
  margin-bottom: 2rem;
}

.exhange-confirm__input {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
