.container {
  background-color: var(--bg-content);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  margin: 0 auto;
  /* padding: 2rem 1rem; */
  min-height: 100vh;
  text-align: center;
}
