.servicesContainer {
  min-height: 50vh;
  width: 100%;
  padding: 2rem;
  background-color: var(--bg-color);
  border-radius: 10px;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 64px);
  justify-content: space-between;
  row-gap: 1rem;
  max-width: 300px;
  margin: 0 auto;
}
