.container {
  justify-content: flex-start;
}

.home {
  padding: 1rem;
}

.home > * {
  margin-bottom: 2rem;
}

.home__welcome {
  text-align: start;
}

.home__card {
  padding: 2rem 3rem;
  background-color: var(--color-primary);
  border-radius: 20px;
}

.home__add {
  width: 100px;
}

.card__buttons {
  display: flex;
  justify-content: space-between;
}

.servicesText {
  text-align: start;
  margin-bottom: 1rem;
}
