.home {
  padding: 2rem;
  border: 1px solid black;
}

.home > * {
  margin-bottom: 2rem;
}

.home__welcome {
  text-align: start;
}

.home__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 190px;
  margin: 0 auto;
  background-color: var(--color-primary);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.home__add {
  width: 100px;
}

.card__buttons {
  display: flex;
  justify-content: space-around;
  max-width: 300px;
  margin: 0 auto;
}

.servicesText {
  text-align: start;
  margin-bottom: 2rem;
}
