/*Testing*/
.manage-code {
  padding: 1rem;
  min-height: 100vh;
}

.code-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  min-height: 70vh;
}

.code-form > * {
  margin-bottom: 1rem;
}

.manage-code__submit {
  margin-top: auto;
}
