.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 420px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.signup__logo {
  height: 50px;
  margin-bottom: 2rem;
}

.signup__form {
  justify-content: space-around;
  min-height: 100vh;
}

.signup__form > * {
  margin-bottom: 2rem;
}

.signup__fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.signup__fields > * {
  margin-bottom: 1.5rem;
}

.signup__phone {
  display: flex;
  width: 90%;
}

.signup__code {
  flex: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.signup__number {
  flex: 3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.signup__password {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.signup__toggle-password {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  right: 0;
  transform: translate(-2rem, -50%);
  cursor: pointer;
}

.signup__forget {
  color: var(--color-hint);
}

.signup__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.signup__login {
  color: var(--color-text);
  margin-bottom: 1rem;
}

.signup__login-link {
  color: inherit;
}

.msg {
  align-self: flex-start;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
