.my-wallet {
  min-height: 100vh;
  padding: 2rem 1rem;
}
.my-wallet__total-text {
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.my-wallet__buttons {
  margin-top: 2rem;
}

.my-wallet__buttons > * {
  margin-bottom: 1rem;
}

.my-code__link {
  display: block;
  text-decoration: none;
  color: inherit;
}
